$primary-color: #FF6060;

.profile {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 21px;
    gap: 10px;

    p {
        color: $primary-color;
        margin-bottom: 0;
        text-align: end;
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}