$font-family : "Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: $font-family;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    height: 68px;
    margin: 45px 100px 0 100px;

    nav ul {
        list-style-type: none;
        display: flex;
        gap: 57px;

        li {
            font-weight: 500;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

footer {
    .footer-container {
        color: white;
        background-color: black;
        height: 209px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28.56px;

            img {
                height: 40px;
            }
    }
}