.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 45px;

    img {
      width: 210px;
      height: 68px;
    }
  
    nav ul {
      list-style-type: none;
      display: flex;
      gap: 57px;
  
      li {
        font-weight: 500;
  
        a {
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  