footer {
    .footer-container {
        color: white;
        background-color: black;
        height: 209px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28.56px;

            img {
                height: 40px;
            }
    }
}