$primary-color: #FF6060;

.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;

    .carrousel {
        position: relative;
        display: flex;
        align-items: center;

        .counter {
            color: white;
            font-size: 18px;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .accommodation-img {
            display: block;
            width: 100%;
            height: 415px;
            border-radius: 25px;
            object-fit: cover;
            margin-bottom: 30px;
        }

        .chevron-left,
        .chevron-right {
            position: absolute;
            margin: 23px;
            cursor: pointer;

            path {
                fill: white;
            }
        }

        .chevron-left {
            left: 0;
        }

        .chevron-right {
            right: 0;
        }
    }



    .accommodation-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: $primary-color;
            font-size: 36px;
            font-weight: 500;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    div {
        .host {
            display: flex;
            flex-direction: column;
            align-items: end;

            .profile {
                display: flex;
                align-items: center;
                width: 80%;
                margin-bottom: 21px;
                gap: 10px;

                p {
                    color: $primary-color;
                    margin-bottom: 0;
                    text-align: end;
                }

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                }
            }

            .stars {
                display: flex;
                gap: 10px;
            }
        }
    }

    .collapse-container {
        display: flex;
        gap: 76px;

        .dropdown {
            width: 582px;
        }
    }
}