$primary-color: #FF6060;

.error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $primary-color;
        font-size: 288px;
        font-weight: 700;
        margin-top: 89px;
    }
    
    p {
        color: $primary-color;
        font-size: 36px;
        font-weight: 500;
        margin-top: 139px;
    }
    
    .link {
        font-size: 18px;
        font-weight: 500;
        margin-top: 139px;
        margin-bottom: 139px;
    }
}